@model List<ResultProductWithCategoryDto>
@{
    ViewData["Title"] = "ProductListWithCategory";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Kategori Listesi</h4>
                <p>Kategoriyle ilgili işlemlerinizi aşağıdaki tablo üzerinden gerçekleştirebilirsini</p>
                <div class="bs-example" data-example-id="bordered-table">
                    <form action="/" method="post">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Ürün Adı</th>
                                    <th>Kategori Adı</th>
                                    <th>Ürün Fiyatı</th>
                                    <th>Sil</th>
                                    <th>Güncelle</th>
                                    <th>Ürün Görselleri</th>
                                    <th>Açıklama ve Bilgi</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">@item.ProductID</th>
                                        <td>@item.ProductName</td>
                                        <td>@item.Category.CategoryName</td>
                                        <td>@item.ProductPrice</td>
                                        <td><a href="/Admin/Product/DeleteProduct/@item.ProductID" class="btn btn-danger">Sil</a></td>
                                        <td><a href="/Admin/Product/UpdateProduct/@item.ProductID" class="btn btn-success">Güncelle</a></td>
                                        <td><a href="/Admin/ProductImage/ProductImageDetail/@item.ProductID" class="btn btn-warning">Ürün Görselleri</a></td>
                                        <td><a href="/Admin/ProductDetail/UpdateProductDetail/@item.ProductID" class="btn btn-info">Detay</a></td>

                                    </tr>
                                }
                            </tbody>
                        </table>

                    </form>
                    <td><a href="/Admin/Product/CreateProduct/" class="btn btn-success">Yeni Ürün Girişi</a></td>
                </div>
            </div>
        </div>
    </div>
</section>

